.footer {
  color: #ffff;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  background: #3da3d4;
  z-index: 1 !important;
  margin-top: auto;
}

body,
html {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1; /* This ensures that the main content takes up all available space */
}

.footerLink {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: #007bff;
}
body {
  padding-bottom: 60px;
}
